.tieude{
    display: flex;
    height: 200px;
    background-color: #d4a58e;
    justify-content: center;
    align-items: center;
}
.tieude h1{
  font-family: "Comic San MS";
  font-weight: bold;
  color: #4b1b03;
  letter-spacing: 5px;
}
.grid-container{
    margin:50px 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.grid-item{
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}